*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


@media screen {
    .top-page {
        background-color: #2a607c;
        padding: 15px;
        display: flex;

    }
    .heading-01 {
        color: white;
        font-size: 50px;
        margin: 10px;
    }

    .links {
        list-style: none;
        text-decoration: none;
        color: white;
        display: flex;
        float: right;
        padding-bottom: 20px;
        margin-left: 20px;
    }

    a {
        text-decoration: none;
        color: white;
    }
}

body {
    background-color: lightgray;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}

@media screen {
    .front-image {
        background-image: url(../img/digital-marketing-meeting.jpg)
    }
    
}

.SEO {
    background-color: #0072bb ;
    width: 75%;
    color: white;
    
}

.seo-img {
    max-height: 200px;
}


.ORM {
    background-color: #0072bb;
    width: 75%;
    color: white;
    margin: 0;
}

.orm-img {
    max-height: 200px;
}

.smm {
    background-color: #0072bb;
    width: 75%;
    color: white;
    margin: 0;
}

.smm-img {
    max-height: 200px;
}

.lg-ba-cm {
    width: 20%;
    background-color: #2589bd;
    color: white;
    float: right;
}

.lg-img {
    max-width: 150px;
}

.ba-img {
    max-width: 150px;
}

.cm-img {
    max-width: 150px;
}

.very-bottom {
    margin: 0;
}
